#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.index {
  margin-top: 50px;
}

.index-product {
  margin-top: 40px;
  padding-top: 25px;
  border: solid black;
}


